header{
    background-color:red;
    grid-area: head;
    height:100px;
}
nav{
    background-color: slategray;
    width:100%;
    grid-area: nav;
}
content{
    background-image:url("/Assets/images/pizza_pie1.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    grid-area: content;
    height: 100vh;
}
footer{
    background-color: blueviolet;
    grid-area: foot;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav_item{
    background-color: orange;
    padding: 5px;
    font-size: 20px;
    font-style:bold;
    border-radius: 8px;
    border: solid 5px sienna;
    margin: 5px;
}
#logo{
    background-color: orange;
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-style:bold;
    border-radius: 8px;
    border: solid 5px sienna;
}
/* body{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 4fr;
    grid-template-areas:
    "head"
    "nav"
    "content"
    "foot";
} */
#content{
    align-self: center-top;
    background-color: aliceblue;
    text-align: center;
    width:60%;
    overflow:auto;
}
p{
    margin-top:588px;
    margin-bottom:588px;
}
.bar_item:hover{
    filter:brightness(80%);
}
.bar_item:active{
    filter: brightness(120%);
}