header{
    background-color:red;
    height:100px;
    width: 100%;
    text-align: center;
}
nav{
    background-color: slategray;
    width:100%;
}
content{
    background-image:url("/Assets/images/pizza_pie1.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    
}
#image1{
    grid-area:img1;
}
#img1{
    border-radius: 5px;
    margin:5px;
}
img{
    width:100%;
}
#text1{
    grid-area:text1;
}
.maintext{
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}
.maintext p{
    font-size: 20px;
    padding:10px;
}
#image2 img{
    height:75%;
    width:98%;
    border-radius: 5px;
    margin:5px;
    
}
#image2{
    grid-area:img2;
    
}
#text2{
    grid-area:text2;
}
footer{
    background-color: blueviolet;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav_item{
    background-color: orange;
    padding: 5px;
    font-size: 20px;
    font-style:bold;
    border-radius: 8px;
    border: solid 5px sienna;
    margin: 5px;
}

#logo{
    background-color: orange;
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-style:bold;
    border-radius: 8px;
    border: solid 5px sienna;
}
body{
    height: 100vh;
    background-color: blue;
} 
#content{
    align-self: center-top;
    background-color: aliceblue;
    text-align: center;
    width:60%;
    overflow:auto;
    height: 100vh;
    display: grid;
     grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img1 text1"
    "text2 img2";

}
p{
    /* margin-top:588px;
    margin-bottom:588px; */
}
.bar_item:hover{
    filter:brightness(80%);
}
.bar_item:active{
    filter: brightness(120%);
}